/UXCam.xcframework.zip          @uxcam/maintainers
/UXCam.podspec                  @uxcam/maintainers
/.github/                       @uxcam/maintainers @uxcam/security-team
/.github/workflows/             @uxcam/maintainers @uxcam/security-team
